h2{
	padding: 5px 10px;
	border-bottom: 4px solid #343434;
	border-left: 10px solid #343434;
	font-size: 80px;
	margin: 30px 0px;
	font-family: "fonts";
}

h1{
	font-family: "fonts";
	font-size: 50px;
}

li{
	font-size: 50px;
	padding-left: 20px;
	margin: 20px 20px 30px;
	color: #51596A;
	font-family: "fonts";
}

img{
	width: 600px;
	height: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p{
	color: #51596A;
	font-family: "fonts";
	margin: 0px 0px 17px;
	font-size: 50px;
}

button{
	background-color: #e7e7e7; color: black;
	border: none;
	color: gray;
	padding: 45px 30px;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 8px 4px;
	cursor: pointer;
}

#but1{
    position: fixed;
    bottom: 3.5em;
    right: 3em;
    background-color: rgba(255,255,255,.9);
    color:#313943;
    border:none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    padding: 0.5em;
    box-shadow: 0 0 2em 0 rgba(0,0,0, .25);
    transition:  all .3s ease-in-out;
    display: inline-block;
    opacity: 0;
    text-decoration: none;


}

#but1.visible{
    opacity: 1;
}

#but2{
    position: fixed;
    bottom: 1em;
    right: 3em;
    background-color: rgba(255,255,255,.9);
    color:#313943;
    border:none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    padding: 0.5em;
    box-shadow: 0 0 2em 0 rgba(0,0,0, .25);
    transition:  all .3s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

.showme {
    border: 1px solid white;

    -webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-fwd{

}

@font-face{
	src: url("fonts.ttf");
	font-family: "fonts";
}